.overview{
  margin: 3%;
  display: grid;
  grid-gap: 7%;
  /* grid-template-rows: 1fr 2fr; */
}

.heading{
  font-style: italic;
}

.wrapper{
display: grid;
/* grid-template-rows: 10%; */
grid-template-columns: 50% 40%;
/* grid-gap: 10%; */
}

.Content{
  display: grid;
  grid-gap: 15%;
}

.button{
  width: 6em;
  /* height: 3em; */
  border-radius: 1em;
}

.image-grid {
  position: relative;
}

.stack-images {
  position: absolute;
}

