.overview {
  margin: 3%;
  display: grid;
  grid-gap: 7%;
}

.title {
  font-style: initial;
}

.wrapper {
display: grid;
grid-template-columns: 50% 40%;
}

.content {
  display: grid;
  grid-gap: 15%;
}

.button {
  width: 6em;
  border-radius: 1em;
}

.image-grid {
  position: relative;
}

.stack-images {
  position: absolute;
}

.order-button {
  width: 8em;
  background-color:#2d3436;
  color: whitesmoke;
  border-radius: 0.5em;
}

.form-check-label {
  cursor: pointer;
}

.form-check-input {
  cursor: pointer;
}
