.overview{
  margin: 3%;
  display: grid;
  grid-gap: 7%;
}

.heading{
  font-style: italic;
}

.wrapper{
display: grid;
grid-template-columns: 40% 40%;
grid-gap: 10%;
}

.Content{
  display: grid;
}

.button{
  width: 6em;
  height: 3em;
}

.Image{
  position: relative;
}

.onClickImage{
 position: absolute;
 top: 0%;
}
