.order{
  display: grid;
  grid-template-rows: 2fr;
  grid-gap: 10px;
}

 .pizza-price{
   background-color:#b2bec3;
   padding: 10px;
   width: 70%;
   border-radius: 10px;
   text-align: justify;
   font-weight: bold
 }

 .payment-method{
   display: grid;
   grid-template-columns: 50% 50%;
 }

 .buttons{
   display: grid;
   grid-template-columns: 50% 50%;
   grid-gap: 10%;
   width: 63%;
 }

 #cancel{
   background-color: rgb(199, 43, 43);
   color: white;
   border-radius: 10px;
 }

 #confirm{
   background-color: rgb(38, 180, 38);
   border-radius: 10px;
 }
 